<!DOCTYPE html>
<html>
    <%- include('../partials/header') %>

<body>
<div class="wrapper">
  <%- include('../partials/sidebar') %>

  <div class="main-panel">
    <%- include('../partials/navbar') %>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Add New Employee</h4>
              </div>
              <div class="card-body">
                <% if(hasErrors) { %>
                  <div class="alert alert-danger">
                    <% messages.forEach(function(message) { %>
                      <span><%= message %></span><br>
                    <% }) %>
                  </div>
                <% } %>
                
                <form action="/admin/add-employee" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                  <!-- Personal Information -->
                  <div class="section-title">
                    <h5>Personal Information</h5>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" required pattern="[A-Za-zÀ-ỹ\s]+" maxlength="50">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" required pattern="[A-Za-zÀ-ỹ\s]+" maxlength="50">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="birthName">Birth Name</label>
                        <input type="text" id="birthName" name="birthName" class="form-control" required pattern="[A-Za-zÀ-ỹ\s]+" maxlength="100">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="DOB">Date of Birth</label>
                        <input type="date" id="DOB" name="DOB" class="form-control" required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="personalEmail">Personal Email</label>
                        <input type="email" id="personalEmail" name="personalEmail" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">+84</span>
                          </div>
                          <input type="text" id="phoneNumber" name="number" class="form-control" required pattern="\d{9,10}">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="addressCity">City/Province</label>
                        <select id="addressCity" name="addressCity" class="form-control" required>
                          <option value="">Select City</option>
                          <!-- Add Vietnam cities here -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="addressDistrict">District</label>
                        <select id="addressDistrict" name="addressDistrict" class="form-control" required>
                          <option value="">Select District</option>
                          <!-- Districts will be populated based on selected city -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="addressDetails">Address Details</label>
                        <input type="text" id="addressDetails" name="addressDetails" class="form-control" required minlength="10">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="birthplace">Birthplace (City/Province)</label>
                        <select id="birthplace" name="birthplace" class="form-control" required>
                          <option value="">Select City</option>
                          <!-- Add Vietnam cities here -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="idNumber">ID Number</label>
                        <input type="text" id="idNumber" name="idNumber" class="form-control" required pattern="\d{12}">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Gender</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="genderMale" name="gender" value="Male" required>
                          <label class="form-check-label" for="genderMale">Male</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="genderFemale" name="gender" value="Female">
                          <label class="form-check-label" for="genderFemale">Female</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="profileImage">Photo</label>
                        <input type="file" id="profileImage" name="profileImage" class="form-control-file">
                      </div>
                    </div>
                  </div>

                  <!-- Job Information -->
                  <div class="section-title mt-4">
                    <h5>Job Information</h5>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="jobTitle">Job Title</label>
                        <select id="jobTitle" name="jobTitle" class="form-control" required>
                          <option value="">Select Job Title</option>
                          <option value="Software Engineer">Software Engineer</option>
                          <option value="Project Manager">Project Manager</option>
                          <option value="Accounts Manager">Accounts Manager</option>
                          <!-- Add more job titles -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="department">Department</label>
                        <select id="department" name="department" class="form-control" required>
                          <option value="">Select Department</option>
                          <option value="Engineering">Engineering</option>
                          <option value="Finance">Finance</option>
                          <option value="HR">HR</option>
                          <!-- Add more departments -->
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="jobId">Job ID</label>
                        <input type="text" id="jobId" name="jobId" class="form-control" required pattern="[A-Z]{3}\d{3}">
                        <small class="form-text text-muted">Format: ABC123</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="supervisor">Supervisor</label>
                        <select id="supervisor" name="supervisor" class="form-control">
                          <option value="">Select Supervisor</option>
                          <!-- Will be populated with available supervisors -->
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="employmentType">Employment Type</label>
                        <select id="employmentType" name="employmentType" class="form-control" required>
                          <option value="">Select Employment Type</option>
                          <option value="Full-time">Full-time</option>
                          <option value="Part-time">Part-time</option>
                          <option value="Intern">Intern</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Work Experience</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="expFresher" name="workExperience" value="Fresher" required>
                          <label class="form-check-label" for="expFresher">Fresher</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="expJunior" name="workExperience" value="Junior">
                          <label class="form-check-label" for="expJunior">Junior</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="expSenior" name="workExperience" value="Senior">
                          <label class="form-check-label" for="expSenior">Senior</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="date" id="startDate" name="startDate" class="form-control" required>
                      </div>
                    </div>
                  </div>

                  <!-- Account Information -->
                  <div class="section-title mt-4">
                    <h5>Account Information</h5>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" required minlength="6">
                        <small class="form-text text-muted">Minimum 6 characters</small>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Save</button>
                  <a href="/admin/view-all-employees" class="btn btn-default">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </div>
</div>

<!-- JavaScript for dynamic dropdowns -->
<script>
// Populate cities on page load
fetch('/admin/get-cities')
  .then(response => response.json())
  .then(cities => {
    const citySelects = document.querySelectorAll('select[name="addressCity"], select[name="birthplace"]');
    citySelects.forEach(select => {
      cities.forEach(city => {
        select.innerHTML += `<option value="${city}">${city}</option>`;
      });
    });
  });

// Populate districts based on selected city
document.querySelector('select[name="addressCity"]').addEventListener('change', function() {
  const city = this.value;
  fetch(`/admin/get-districts/${encodeURIComponent(city)}`)
    .then(response => response.json())
    .then(districts => {
      const districtSelect = document.querySelector('select[name="addressDistrict"]');
      districtSelect.innerHTML = '<option value="">Select District</option>';
      districts.forEach(district => {
        districtSelect.innerHTML += `<option value="${district}">${district}</option>`;
      });
    });
});

// Populate supervisors
fetch('/admin/get-supervisors')
  .then(response => response.json())
  .then(supervisors => {
    const supervisorSelect = document.querySelector('select[name="supervisor"]');
    supervisors.forEach(sup => {
      supervisorSelect.innerHTML += `<option value="${sup._id}">${sup.name}</option>`;
    });
  });

// Auto-generate Job ID based on department
document.querySelector('select[name="department"]').addEventListener('change', function() {
  const dept = this.value.substring(0,3).toUpperCase();
  fetch(`/admin/get-next-job-id/${encodeURIComponent(dept)}`)
    .then(response => response.json())
    .then(data => {
      document.querySelector('input[name="jobId"]').value = data.jobId;
    });
});

// Handle form validation and submission
document.querySelector('form').addEventListener('submit', function(e) {
  // Combine first and last name for full name
  const firstName = document.querySelector('input[name="firstName"]').value.trim();
  const lastName = document.querySelector('input[name="lastName"]').value.trim();
  const fullName = `${firstName} ${lastName}`;
  
  // Add hidden input for full name
  const nameInput = document.createElement('input');
  nameInput.type = 'hidden';
  nameInput.name = 'name';
  nameInput.value = fullName;
  this.appendChild(nameInput);

  // Add designation based on jobTitle
  const jobTitle = document.querySelector('select[name="jobTitle"]').value;
  const designationInput = document.createElement('input');
  designationInput.type = 'hidden';
  designationInput.name = 'designation';
  designationInput.value = jobTitle;
  this.appendChild(designationInput);

  // Validate phone number format
  const phone = document.querySelector('input[name="number"]').value;
  if (!/^(0|\+84)\d{9,10}$/.test(phone)) {
    e.preventDefault();
    alert('Phone number must start with 0 or +84 followed by 9-10 digits');
    return;
  }

  // Validate ID number format
  const idNumber = document.querySelector('input[name="idNumber"]').value;
  if (!/^\d{12}$/.test(idNumber)) {
    e.preventDefault();
    alert('ID Number must be exactly 12 digits');
    return;
  }

  // Validate job ID format 
  const jobId = document.querySelector('input[name="jobId"]').value;
  if (!/^[A-Z]{3}\d{3}$/.test(jobId)) {
    e.preventDefault();
    alert('Job ID must be 3 uppercase letters followed by 3 digits');
    return;
  }

  // Validate date of birth (18-60 years old)
  const dob = new Date(document.querySelector('input[name="DOB"]').value);
  const age = new Date().getFullYear() - dob.getFullYear();
  if (age < 18 || age > 60) {
    e.preventDefault();
    alert('Employee must be between 18 and 60 years old');
    return;
  }

  // Validate start date (not in future)
  const startDate = new Date(document.querySelector('input[name="startDate"]').value);
  if (startDate > new Date()) {
    e.preventDefault();
    alert('Start date cannot be in the future');
    return;
  }
});
</script>

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="post" action="/admin/mark-attendance">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mark Attendance</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to mark attendance.</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-default">Yes</button>
                </div>

            </div>
        </form>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form method="post" action="/admin/view-attendance">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Month/Year</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Month">Month:</label>
                        <select class="form-control" id="month" name="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="year">Year:</label>
                        <select class="form-control" id="year" name="year">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">View</button>
                </div>
            </form>
        </div>

    </div>
</div>
</html>