<!DOCTYPE html>
<html>
    <head> 
        <%- include('../partials/header') %>
        <link rel="stylesheet" href="/stylesheets/viewProfile.css" />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      />
      
    </head>



    <body>
        <nav class="navbar navbar-default no-margin">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" style="margin-left: 5px" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <%= userName %>
                </a>
            </div>
            <!-- navbar-header-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </button>
                    </li>
                    <li class="navbar-brand">
                        <form action="/logout" method="get">
                            <button id="logout" type="submit" style="margin-top: -3px" class="btn btn-default">
                                <i class="fa fa-user" aria-hidden="true"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    <li>
                        <a href="/admin/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tachometer fa-stack-1x"></i></span>
                          Dashboard</a>
                    </li>
                    <li>
                        <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-users fa-stack-1x"></i></span>
                            Employees</a>
                        <ul class="nav-pills nav-stacked" style="list-style-type: none">
                            <li>
                                <a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                            class="fa fa-eye fa-stack-1x"></i></span>View Employees</a>
                            </li>
                            <li>
                                <a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                            class="fa fa-plus fa-stack-1x"></i></span>Add Employees</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-envelope-square fa-stack-1x"></i></span>
                            Leave Applications</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="$('#myModal').modal('show'); return false;"><span class="fa-stack fa-lg pull-left"><i
                              class="fa fa-list-ol fa-stack-1x"></i></span> View Attendance</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="$('#myModal2').modal('show'); return false;"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-check-circle fa-stack-1x"></i></span> Mark Attendance</a>
                    </li>
                    <li class="active">
                        <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-user fa-stack-1x"></i></span>View Profile</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
                           <!-- Start Date & DOB --> 
                    <div class="profile-container">
         
                <div class="profile-card">
                    <div class="half-card">
                    <% if (employee.profileImage) { %>
                      <img class="profile-avatar" src="<%= employee.profileImage %>" alt="Avatar" />
                    <% } else { %>
                      <img class="profile-avatar" src="/images/default-avatar.png" alt="Default Avatar" />
                    <% } %>
                    
                    <div class="status-badge"><%= employee.employmentType %></div>
              
                    <h3><%= employee.name %></h3>
                    <p>@<%= employee.jobID %></p>
                    </div>
                    
                    <div class="profile-details">
                      <p><i class="fas fa-briefcase"></i> <%= employee.jobTitle %></p>
                      <p><i class="fas fa-location-dot"></i> Working at <% if(employee.department && employee.department.department) { %>
                          <%= employee.department.department %>
                        <% } else { %>
                          N/A
                        <% } %></p>
                      <p><i class="fas fa-envelope"></i> <%= employee.email %></p>
                      <p><i class="fas fa-phone"></i> <%= employee.contactNumber || employee.contactNumber %></p>
                      <p><i class="fas fa-users"></i> Report by 
                        <%= employee.supervisor && employee.supervisor.name ? employee.supervisor.name : 'N/A' %>
                      </p>
                      <p><i class="fas fa-birthday-cake"></i> Birthday on  
                        <%= new Date(employee.dateOfBirth).toLocaleDateString('en-GB', { day: '2-digit', month: 'long' }) %>
                      </p>
                    </div>
                  </div>

                  <div class = "right-card">
             
                    <div class="date-info-wrapper">
                        <div class="date-info">
                          <div class="date-card">
                            <i class="fas fa-calendar-check"></i>
                            <div class="date-text">
                              <p>Start Date</p>
                              <strong><%= new Date(employee.startDate).toLocaleDateString('en-GB') %></strong>
                            </div>
                          </div>
                          <div class="date-card">
                            <i class="fas fa-birthday-cake"></i>
                            <div class="date-text">
                              <p>Date of Birth</p>
                              <strong><%= new Date(employee.dateOfBirth).toLocaleDateString('en-GB') %></strong>
                            </div>
                          </div>
                        </div>
                      </div>
            <!-- Right: Main Info -->
        
                          
        <div class="main-info">
            

          <div class="section-box">
              <h4>Employee Information</h4>
                          <form class="form-group-sm" action="/admin/view-all-projects" method="get">
                              <p>
                                <strong> Name : </strong> 
                                      <%= employee.name %>
                                
                              </p>
                              <p><strong>Gender:</strong> <%= employee.gender %></p>
                              <% if (employee.birthplace && employee.birthplace.city) { %>
                                <p><strong>Birthplace:</strong> <%= employee.birthplace.city %></p>
                              <% } else { %>
                                <p><strong>Birthplace:</strong> N/A</p>
                              <% } %>
                              
                              <% if (employee.address && employee.address.details && employee.address.district && employee.address.city) { %>
                                <p><strong>Address:</strong> 
                                  <%= employee.address.details %>, <%= employee.address.district %>, <%= employee.address.city %>
                                </p>
                              <% } else { %>
                                <p><strong>Address:</strong> N/A</p>
                              <% } %>
                              <p><strong>ID Number:</strong> <%= employee.idNumber %></p>                              
                              <p>
                                <strong> Personal Email :  </strong>
                                   
                                    <%= employee.personalEmail %>
                               
                            </p>

                             
                              <p>
                                <strong> Department : </strong>
                                 
                                      <% if(!employee.department){%>
                                          <%="N /A"%>
                                              <% } else{%>
                                                  <%=employee.department%>
                                                      <%}%>
                                 
                              </p>
                              <p>
                                <strong> Designation : </strong>
                                  <span id="designation">
                                    <%= employee.designation || "N/A" %>
                                  </span>
                                </p>
                                


                              <% if(employee.Skills.length> 0){ %>

                                  <p><strong>Skills:</strong></p>
                                  <div style="height: 250px; overflow: auto">
                                      <ul class="list-group" id="skills">
                                          <% employee.Skills.forEach(function(val){ if(val !="" ){ %>
                                              <li class="list-group-item">
                                                  <%= val %>
                                              </li>

                                              <% } }) %>
                                      </ul>
                                  </div>
                                  <% }else{ %>
                                      <p><strong>Skills</strong> : N/A</p>
                                      <% } %>
                          </form>
                          
                          

          </div>
           <!-- Job Info -->
                           <div class="section-box">
                            <h4>Job Information</h4>
                          
                            <p><strong>Job ID:</strong> <%= employee.jobId || 'N/A' %></p>
                            <p><strong>Job Title:</strong> <%= employee.jobTitle || 'N/A' %></p>
                          
                            <p><strong>Department:</strong> 
                              <%= (employee.department && employee.department.department) ? employee.department.department : 'N/A' %>
                            </p>
                          
                            <p><strong>Work Experience:</strong> 
                              <%= employee.workExperience ? employee.workExperience + ' years' : 'N/A' %>
                            </p>
                          </div>
                          </div>
      </div>
  </div>
  </div>
</div>
<br />
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

        <script src="/javascripts/sidebar_menu.js"></script>
        <script>
            $(document).ready(function () {
                for (i = new Date().getFullYear(); i > 1900; i--) {
                    $("#year").append($("<option />").val(i).html(i));
                }
                
                // Đảm bảo Dashboard luôn hiển thị trong sidebar
                if(!$('#menu li:first').hasClass('active')) {
                    $('#menu li:first').addClass('active');
                }
                
                // Xử lý đặc biệt cho modal - KHÔNG loại bỏ các handler click
                $('.modal').on('show.bs.modal', function (e) {
                    // Ngăn modal ảnh hưởng đến trạng thái active của menu
                    e.stopPropagation();
                });
            });
        </script>
    </body>
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="post" action="/admin/mark-attendance">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Mark Attendance</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to mark attendance.</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="reset" class="btn btn-default" data-dismiss="modal">
                            No
                        </button>
                        <button type="submit" class="btn btn-default">Yes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form method="post" action="/admin/view-attendance">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Select Month/Year</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Month">Month:</label>
                            <select class="form-control" id="month" name="month">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <select class="form-control" id="year" name="year"></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="reset" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-default">View</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</html>